.btn{
    font-size: 40px;
    font-style: italic;
    color: black;
    background-color: rgba(4, 252, 74, 0.72);
    border: 5px solid black;
    border-radius: 10px;
    align-items: center;
    display: block;
    margin: 10px;

}


.box:hover {
    background-color: rgb(255, 242, 0);
    font: size 60px; ;
  }